.pList{
    width: 100%;
    max-width: var(--width-container);
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.pListItem{
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.pListImg{
    object-fit: cover;
    width: 100%;
    height: 150px;
}
.pListTitle>h1{
    font-size: 18px;
}
.pListTitle>h2{
    font-size: 14px;
    font-weight: 300;
}